.TextContainer{

    width: 60px;
    height: 60px;
    background-color: tomato;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.TextContainer h1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 200%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}